<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="zapm-editor.ZPM">
<Module>
 <Name>zapm-editor</Name>
  <Version>1.0.6</Version>
  <Description>Navigator file system, namespace navigator ZPM-modules, editor of routines, editor globals and editor text files.</Keywords>
  <Author>
   <Person>Mikhaylenko Sergey</Person>
   <CopyrightDate>2021</CopyrightDate>
   <License>MIT</License>
  </Author>
  <Packaging>module</Packaging>
  <SourcesRoot>src</SourcesRoot>
   <Invokes>
    <Invoke Class="%ZAPM.ext.zapp" Method="initeditor"></Invoke>
  </Invokes>
  <Resource Name="%ZAPM.ed.PKG" Directory="mac"/>
  <Resource Name="%ZAPM.ed.GBL" Directory="gbl"/>
  <Dependencies>
   <ModuleReference>
    <Name>zapm</Name>
     <Version>1.*.*</Version>
    </ModuleReference>
  </Dependencies>
</Module>
</Document>
</Export>
